[submodule "phipsi"]
	path = phipsi
	url = https://github.com/SPMNJ/phipsi.git
[submodule "freshman"]
	path = freshman
	url = https://github.com/SPMNJ/freshman.git
[submodule "os4life"]
	path = os4life
	url = https://github.com/SPMNJ/os4life.git
[submodule "vote-4-luke"]
	path = vote-4-luke
	url = https://github.com/SPMNJ/vote-4-luke.git
[submodule "nicole-test"]
	path = nicole-test
	url = https://github.com/SPMNJ/nicole-test.git
[submodule "shoprite"]
	path = shoprite
	url = https://github.com/SPMNJ/shoprite.git
[submodule "librarypass"]
	path = librarypass
	url = https://github.com/SPMNJ/librarypass
[submodule "cosc412project"]
	path = cosc412project
	url = https://github.com/CouponFiends/cosc412project.git
[submodule "cosc457project"]
	path = cosc457project
	url = https://github.com/SPMNJ/cosc457project.git
[submodule "assassins"]
	path = assassins
	url = https://github.com/SPMNJ/assassins.git
