[submodule "phipsi"]
	path = phipsi
	url = https://github.com/SPMNJ/phipsi.git
[submodule "freshman"]
	path = freshman
	url = https://github.com/SPMNJ/freshman.git
[submodule "os4life"]
	path = os4life
	url = https://github.com/SPMNJ/os4life.git
